body {
    background-image: url(Logo\ studio\ borcelle\ neon.png);

    background-position: center;
    background-size: center;
}
a{
   float: center;
   color:aquamarine;
   padding: 100px;
   font-size: 40px;
   text-decoration: green;
   border: 2px solid rgb(red, green, blue);
   border-radius: 35px;
   
}